doctype html
html
  head
    title= 'Startup Benefits'
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='https://static.wixstatic.com/media/8f412b_f1af8d2a0be345fd8ce632a5d3ef6b3b~mv2.png/v1/fill/w_250,h_204,al_c,q_85,usm_0.66_1.00_0.01/8f412b_f1af8d2a0be345fd8ce632a5d3ef6b3b~mv2.webp')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")

  body
    include topnavbar
    block content
  style.
    body {
      margin: 0;
      padding-top: 24px;
      background-color: #F5F9FC;
    }
