doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet")

  body
    include topnavbar
    block content
  style.
    body {
      margin: 0;
      padding-top: 24px;
    }
